body{
  background-color: #162224!important;
}
pre{
  padding: 70px 0!important;
  margin-top: 20%!important;
  text-align: center!important;
  color: #00EDB3!important;
}
h2{
  color: #00EDB3!important;
}
p{
  color: #00EDB3;
}
span{
  color: #00EDB3!important;
}
li{
  color: #00EDB3!important;
}
.modal-body{
  color: #00EDB3!important;
}
/* loader animation */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

/* for the navbar */
.info{
   border: 2px #00EDB3;
   border-bottom-style: solid;
   margin: 20px;
   margin-bottom: 20px;
   text-align: left;
}
.email{
  font-size: 15px!important;
  padding-left: 2px!important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-color: #00EDB3!important;
    border-width: 5px;
    border-right-style: dotted;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00EDB3!important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.biggerme{
  border: 2px #00EDB3;
  border-style: solid;
  margin: 20px;
  padding-bottom: 10%;
  text-align: center;
}
.me{
  border: 2px #00EDB3;
  border-style: solid;
  margin: 20px;
}
img{
  width: 100%;
  height: auto;

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Editing the scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00EDB3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00EDB3;
}


/* button for skills and intro */
.draw-border {
  box-shadow: inset 0 0 0 4px #00EDB3;
  color: #00EDB3;
  transition: color 0.25s 0.08333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: white;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: white;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

/* For the container */
.grid-container {
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 50px;
  grid-template-columns:  auto;
  background-color: transparent;
  padding: 10px;
  margin: 50px;
}
.grid-item {
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/* Modal */
.modal-content{
  margin-top:200px!important;
  background-color: #162224!important;
}
